filetype/Magdir.mgc filetype/README.md filetype/dirent filetype/docker filetype/file filetype/file.pro filetype/filetype.cpp filetype/filetype.h filetype/filetype.pro filetype/filetype.sln filetype/filetype.vcxproj filetype/filetype.vcxproj.filters filetype/libfiletype.pro filetype/main.cpp filetype/makemgc.sh filetype/misc filetype/pcre2 filetype/prepare.sh filetype/win32 linguist-vendored
