*.user
win.rc
Info.plist
_notes
_release
.DS_Store
image/about.psd
extra/_build_*
misc/win32tools
build/
_bin/
_build/
*.autosave
version.c
*.deb
packaging/win/packages/jp.soramimi.guitar/data/
packaging/win/GuitarSetup.exe
packaging/mac/Guitar.app
packaging/mac/Guitar.app/Contents/Frameworks/QtCore.framework/QtCore
packaging/mac/*.zip
packaging/mac/Guitar-macos.zip
docs/src_docs/
packaging/deb/Guitar
packaging/win/packages/jp.soramimi.guitar/
packaging/win/filetype.pro
packaging/win/filetype/
packaging/win/zlib/
packaging/win/_build/
extra/build-*
extra/_build-*
bin/
_appdir/
Guitar-*.AppImage
filetype2/docker/libmagic.so
filetype2/docker/magic.mgc
filetype2/file/magic/Magdir/varied.out
guitar-doxy-html.tar.zst

cmigemo/dict/SKK-JISYO.L
cmigemo/dict/base-dict
cmigemo/dict/migemo-dict
cmigemo/dict/utf-8.d/
cmigemo/libmigemo.so
cmigemo/libmigemo.so.1
cmigemo/libmigemo.so.1.1.0
cmigemo/tags
