*.user
win.rc
Info.plist
version.c
_notes
_release
.DS_Store
image/about.psd
extra/_build_*
misc/win32tools
_bin/
build/
src/version.h
*.autosave
src/version.h
*.deb
packaging/win/packages/jp.soramimi.guitar/data/
packaging/win/GuitarSetup.exe
packaging/mac/Guitar.app
packaging/mac/Guitar.app/Contents/Frameworks/QtCore.framework/QtCore
packaging/mac/*.zip
packaging/mac/Guitar-macos.zip
docs/src_docs/
packaging/deb/Guitar
