.qtcreator/
build/
*.o
.localvault/
.qmake.stash
Makefile
example.decoded.txt
example.encoded.bin
localvault
moc_*
ui_*.h
localvault-review.Makefile
_bin/
qmake/Makefile.*
qmake/release/
qmake/debug/
