@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Madoka Runes';
	src: url(/MadokaRunes-2.0.ttf);
}

* {
	font-family: sans-serif;
}

pre {
	font-family: monospace;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	-o-tab-size: 4;
	-moz-tab-size: 4;
	tab-size: 4;
}

code {
	font-family: monospace;
}

body {
	background: #f0f0f0;
	line-height: 150%;
}

#body {
	width: 962px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff url(bg.gif) repeat-y left;
	padding: 1em;
}

#header {
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #000000;
}

#footer{
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px solid #000000;
}

h1 {
	border: 1px solid #4080ff;
	border-top: 1px solid #4080ff;
	border-bottom: 1px solid #4080ff;
	padding: 8px;
	background: #e0f0ff;
	background: #ffffff url(h1bg.png) repeat-x top;
	font-size: x-large;
	text-align: center;
}

h2 {
	background: #e0f0ff;
	border-top: 2px solid #6aa4eb;
	border-left: 8px solid #6aa4eb;
	border-right: 8px solid #6aa4eb;
	border-bottom: 2px solid #6aa4eb;
	padding-left: 4px;
	padding-bottom: 1px;
	font-size: large;
}

h3 {
	border-left: 16px solid #6aa4eb;
	border-bottom: 2px solid #6aa4eb;
	padding-left: 4px;
	padding-bottom: 1px;
	font-size: large;
}
h4 {
	font-size: medium;
	margin-top: 1em;
	margin-bottom: 1em;
	text-decoration: underline;
}

h5 {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
    background-image: url(dot-pink.gif);
    background-position: center left;
    background-repeat: no-repeat;
	padding-left: 12px;
	font-size: medium;
	font-weight: bold;
}

lu {
	margin-left: 0;
	padding-left: 0;
}

ul li {
	margin-left: 0;
	padding-left: 0;
	list-style-image: url(dot-pink.gif);
}

ul blockquote {
	margin-top: 0;
	margin-bottom: 0;
}

a:link {
	color: #0000FF
}
a:visited {
	color: #004080
}
a:hover {
	color: #4060ff;
	text-align: left;
}
pre {
	background-color: #f8f8f8;
	color: #0000c0;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	margin-left: 1em;
	margin-right: 1em;
}

table {
	background: #e0e0e0;
}

table tr {
}

table th {
	background: #e0e0e0;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

table tr td {
	background: #ffffff;
	margin: 1px;
}

div.column {
	float: right;
	width:20em;
	border: 2px dotted #ff0000;
	background: #fffff0;
	padding: 4px;
	margin-left: 1em;
}

ul li.folder {
	list-style-image: url(folder.png);
}

ul li.file {
	list-style-image: url(file.png);
}

ul.foldertree ul {
	margin-left: 10px;
	padding-left: 10px;
}

blockquote.border {
	border-left: 4px solid #c0c0c0;
	padding-left: 8px;
}

div.warning {
	border: 1px solid #ff0000;
	padding:1em;
}

div.information {
	border: 1px solid #0080ff;
	padding:1em;
}

.border {
	border: 1px solid #000000;
	text-align: center;
}

#header img {
	border: 0;
}

.breadcrumb-this {
	color: #a0a0a0;
}

.background-transparent {
	background-color: transparent;
}



