_bin/
build/
*.so
*.user
*.a
.vs/
_build/
.qmake.stash
configure.lineno

lib/__.SYMDEF SORTED
lib/*.gz

oniguruma/INSTALL
oniguruma/compile
oniguruma/config.guess
oniguruma/config.sub
oniguruma/depcomp
oniguruma/install-sh
oniguruma/missing
oniguruma/test-driver
